<div>
    <h1>{{title}}</h1>
    <div class="container">
        <div class="well">
            <div><button class="btn-primary btn-lg" ng-repeat="cell in grid[0]" ng-disabled="isSelected(cell);" ng-click="move(cell);">{{ cell.value }}</button></div>
            <div><button class="btn-primary btn-lg" ng-repeat="cell in grid[1]" ng-disabled="isSelected(cell);" ng-click="move(cell);">{{ cell.value }}</button></div>
            <div><button class="btn-primary btn-lg" ng-repeat="cell in grid[2]" ng-disabled="isSelected(cell);" ng-click="move(cell);">{{ cell.value }}</button></div>
        </div>
        <div class="row">
            <div class="col-sm"><button type="button" class="btn btn-success">Play New Game</button></div>
            <div class="col-sm"><button type="button" class="btn btn-secondary">Pause/Save</button></div>
            <div class="col-sm"><button type="button" class="btn btn-warning">Cancel</button></div>
        </div>
    </div>
</div>