// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "angular-material/angular-material";

*{
    font-family: "Courier"
  }
  
  html, body {
    height: 100%;
    font-family: "Verdana";
  }
  
  h1 {
    margin: 20px;
  }